.App {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  .network-status {
    position: absolute;
    top: 10px;
    left: 10px;
    display: flex;
    justify-content: center;
    gap: 20px;
    &__indicator {
      width: 20px;
      height: 20px;
      border-radius: 50%;
      background-color: red;
      &.online {
        background-color: green;
      }
    }
  }
  .form {
    display: flex;
    gap: 20px;
    &__input {
      display: flex;
      flex-direction: column;

    }
    &__button {
      width: 100px;
    }
  }
}