.App {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 50px;
  .list-name {
    display: flex;
    flex-direction: column;
  }
  .form {
    display: flex;
    gap: 20px;
    &__input {
      display: flex;
      flex-direction: column;

    }
    &__button {
      width: 100px;
    }
  }
}